@font-face {
    font-family: "outfit";
    src: url("../fonts/Outfit-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "outfit-bold";
    src: url("../fonts/Outfit-Bold.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "outfit", sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 0 4px hsla(217, 45%, 22%, 0.212);
    min-width: 300px;
    max-width: 320px;
    padding: 20px;
}

main img {
    border-radius: 10px;
    width: 100%;
}

main h1 {
    color: hsl(218, 44%, 22%);
    font-family: "outfit-bold", sans-serif;
    font-size: 22px;
    padding: 20px 10px 10px;
    text-align: center;
}

main p {
    color: hsl(24, 5%, 18%);
    font-size: 15px;
    line-height: 22px;
    padding: 10px;
    text-align: center;
}

footer {
    color: hsl(216, 15%, 48%);
    font-size: 13px;
    padding-top: 30px;
    text-align: center;
}

footer a {
    color: hsl(216, 15%, 48%);
    text-decoration: none;
}

footer a:hover {
    color: hsl(218, 44%, 22%);
    text-decoration: underline;
}